repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        exclude: ^uv.lock
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        exclude: ^.github/pages
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        exclude: ^.github/pages
        types: [python]
        require_serial: true

      - id: prettier
        name: format js/ts(x) with prettier
        language: system
        entry: npx prettier gui/config-server-gui/ --print-width 100 --write
        types: [javascript,jsx,ts,tsx]
        require_serial: true

      - id: eslint
        name: lint with eslint
        language: system
        entry: npx eslint gui/config-server-gui/src
        types: [javascript,jsx,ts,tsx]
        require_serial: true

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
