on:
  workflow_call:
    inputs:
      python-version:
        type: string
        description: The version of python to install
        required: true
      runs-on:
        type: string
        description: The runner to run this job on
        required: true

env:
  # https://github.com/pytest-dev/pytest/issues/2042
  PY_IGNORE_IMPORTMISMATCH: "1"
  UV_PYTHON: ${{ inputs.python-version }}

jobs:
  run:
    runs-on: ${{ inputs.runs-on }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          # Need this to get version number from last tag
          fetch-depth: 0

      - name: Deploy local server
        run: ./deployment/build_and_push.sh -r -b

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Run tests
        run: uv run --locked tox -e system_tests_local
